.Tag {
  background-color: var(--color-main);

  padding: 3px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  font-size: 0.7rem;
  border-radius: 2px;
  gap: 6px;
}
.Tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 5px;
  box-shadow: 0 0 0 1px #b3b3b3d1;
  border-radius: 2px;
  width: 100%;
  min-height: 36px;

  ul {
    flex: 1.5;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;
  }
  input {
    flex: 1;
    width: 100%;
    font-size: 0.9rem;
  }
}
.Close {
  cursor: pointer;
}
