.inputField {
  padding: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 0.9px #cccccc;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 3px;
  position: relative;

  border: none;
  & input {
    width: 100%;
    border-radius: inherit;
    padding: 6px 10px;
  }
  &:focus-within {
    box-shadow: 0 0 0 2px #6495ed;
  }
}
.invalid {
  font-size: 0.7rem;
  color: #ff2b2b;
  bottom: -17px;
  position: absolute;
  display: block;
}
.inputBox {
  width: 100%;
  height: fit-content;
  position: relative;
}
.title {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
}
.isRequired {
  color: #bbbbbb;
}
.unit {
  opacity: 0.6;
  font-weight: 500;
  padding: 0 10px;
}
