.Select {
  margin-bottom: 10px;
}
.invalid {
  font-size: 0.7rem;
  color: rgb(255, 43, 43);
  position: absolute;
  bottom: -18px;
  display: block;
}
.inputBox {
  width: 100%;
  height: fit-content;
  position: relative;
}
.title {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 0;
}
.isRequired {
  color: rgb(187, 187, 187);
}
