@use '../../../styles/abtracts/mixins' as *;
@use '../layouts/common' as *;

@keyframes close {
  0% {
    width: 50vw;
    height: 80vh;
  }
  80% {
    width: 51vw;
    height: 81vh;
  }
  100% {
    width: 0;
    height: 0;
    display: none;
    padding: 0;
    margin: 0;
  }
}
@keyframes open {
  0% {
    width: 0;
    height: 0;
    display: none;
    padding: 0;
    margin: 0;
  }
  80% {
    width: 51vw;
    height: 81vh;
  }
  100% {
    width: 50vw;
    height: 80vh;
    overflow: scroll;
  }
}
.dialog {
  @include paperBlank;
  width: 50vw;
  height: 80vh;
  position: absolute;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 5px;
  overflow: hidden;
  transition: all linear 0.2s;
  &.open {
    animation-name: open;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    visibility: visible;
  }
  &.close {
    animation-name: close;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    box-shadow: none;
    visibility: hidden;
  }
}

.overLay {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: none;
  visibility: hidden;
  transition: all linear 0.2s;
  &.open {
    display: block;
    visibility: visible;
    transition: all linear 0.2s;
  }
}
.title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  color: var(--color-main);
}
