@use '../../../HPComponents/layouts/common' as *;

.addCustomer {
  @include paperBlank;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-radius: 4px;

  padding: 10px 100px;
  padding-top: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.flex1 {
  display: flex;
  justify-content: space-between;

  flex-direction: column;
  gap: 5px;
  height: 100%;
  flex: 1;
}

.titleUpload {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0 5px;
}

.formInput {
  display: flex;
  align-items: center;
  margin: auto;
  height: 48%;
  width: 100%;
  gap: 50px;
}

.buttonSubmit,
.buttonCancel {
  @include button-line;
  gap: 5px;
  width: 200px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.groupButtons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.buttonSubmit {
  @include button;
  background-color: var(--color-main);
  box-shadow: none;
}
.bar {
  @include paperBlank;
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 99;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  .routeLink {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
