@use '../abtracts/mixins' as *;
@use '../base/reset';
@use '../../components/HPComponents/layouts/common' as *;
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mainBox {
  flex: 1;
  display: flex;
  width: 100%;
}
.body {
  flex: 1;
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: 4px;
  box-sizing: border-box;
  overflow: scroll;
}
