@use '../globalType/global' as *;
.login {
  @include paperBlank;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80vh;
  display: flex;
}
.loginForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 80%;
  margin: auto 0;
}
.imgLogin {
  flex: 1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}
.inputForm {
  padding-top: 30px;
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 22px 0;
}

.boxInput {
  & p {
    padding: 5px 0;
    opacity: 0.6;
  }
}
.boxInput + .boxInput {
  margin: 10px 0;
}
.forgot {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  width: 70%;
}
.rememberMe {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.forgotPasss {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnLogin {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.logo {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  margin: 20px 0;
  gap: 10px;

  font-size: 1.4rem;
  font-weight: 500;
  img {
    width: fit-content;
    height: 100%;
    object-fit: contain;
  }
}
